    body {
        margin: 0px;
        padding: 0px;
        font-family: 'Oswald';
    }
    
    .container {
        margin: 0px;
        padding: 0px;
    }
    
    .top_icon {
        margin: 28px 5px;
    }
    
    .top_right_icon {
        margin: -36px 73px;
    }
    
    h5 {
        letter-spacing: 1px;
    }
    
    .header {
        width: 100%;
        height: auto;
        background-color: #fff;
    }
    
    .header_top {
        height: 120px;
        background-color: #d5dce4;
    }
    
    .top_head {
        width: 100%;
        height: 50px;
    }
    
    .top_left {
        float: left;
        padding-left: 50px;
        height: 45px;
        margin-top: -11px;
    }
    
    .top_right {
        float: right;
        margin-top: -11px;
        height: 45px;
    }
    
    .login {
        float: left;
        padding-left: 10px;
        padding-right: 20px
    }
    
    .accunt {
        float: left;
        margin: 23px -25px;
    }
    
    .bag {
        float: right;
    }
    
    .ac_bag {
        margin: 23px 5px;
        float: left;
    }
    
    .bag_show {
        border: solid 1px #f0f0f0;
        box-shadow: 0 5px 8px -2px rgba(0, 0, 0, .25);
        right: 80px;
        top: 45px;
        width: 20%;
        background: #fff;
        height: auto;
        position: absolute;
    }
    
    .cart_text {
        letter-spacing: 1;
        color: #000;
        padding: 20px 20px;
        font-size: 14px;
    }
    
    .bag_arrow {
        transform: scale(1.5, 2);
        color: #fff;
        margin-top: -15px;
        float: right;
        margin-right: 40px;
    }
    
    .show_lang {
        border: solid 1px #f0f0f0;
        box-shadow: 0 5px 8px -2px rgba(0, 0, 0, .25);
        left: 35px;
        width: 12%;
        top: 45px;
        height: auto;
        background: #fff;
        position: absolute;
    }
    
    .show_lang p {
        letter-spacing: 1;
        color: #000;
        font-size: 14;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .lang_arrow {
        margin-top: -15px;
        transform: scale(1.5, 2);
        margin-left: 15px;
        color: #fff;
    }
    
    .header_bottom {
        width: 100%;
        text-align: center;
        background-color: #fff;
    }
    
    .topnav {
        overflow: hidden;
        float: left;
        letter-spacing: 1px;
        padding-left: 30px;
        margin-top: -4px;
        margin-bottom: -4px;
        padding-right: 30px;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 8px 20px;
        text-decoration: none;
        font-size: 17px;
        font-weight: 600;
    }
    
    .topnav a:hover {
        color: black;
        border-bottom: 2px solid black;
        border-width: auto;
    }
    
    .menubar {
        margin-top: 15px;
    }
    
    .logo {
        float: left;
        text-align: right;
        margin: 0px;
        width: 40%;
    }
    
    .search {
        float: left;
        height: 55px;
        width: 60px;
        margin: 0;
        text-align: center;
        background-color: #fff;
    }
    
    .search a {
        color: black;
    }
    
    .search a:hover {
        color: black;
        padding-bottom: 40px;
        border-bottom: 2px solid black;
    }
    
    input[type=text] {
        width: 50%;
        padding: 12px 20px;
        margin-top: 22px;
        margin-bottom: 22px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    .place ::placeholder {
        color: #000;
    }
    
    .btn {
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }
    
    .btn1 {
        background-color: white;
        color: black;
        border: 2px solid #000;
    }
    
    .cut {
        right: 10px;
        top: 10px;
        position: absolute;
    }
    
    .icon {
        padding-top: 3px;
        padding-bottom: 5px;
    }
    
    .selected {
        background-color: #fff;
        border-bottom: 2px solid black;
        border-width: auto;
    }
    
    .remove {
        background-color: #d5dce4;
    }
    
    .banner {
        height: 360px;
        background-position: center;
        background-size: cover;
        background-image: url(../img/banner.png);
    }
    
    a {
        color: #000;
        text-decoration: none;
    }
    
    .arrow_left {
        float: left;
        position: absolute;
        top: 420px;
        left: 45px;
        color: #fff;
        font-size: xx-large;
    }
    
    .arrow_right {
        float: right;
        top: 420;
        position: absolute;
        right: 45px;
        color: #fff;
        font-size: xx-large;
    }
    
    .arrow_ah {
        color: #fff;
    }
    
    .tags {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        height: auto;
        background: #fff;
    }
    
    .tag1 {
        margin-left: 145px;
        float: left;
        text-align: center;
        width: 25%;
    }
    
    .tag2 {
        text-align: center;
        float: left;
        width: 25%;
    }
    
    .tag3 {
        text-align: center;
        float: left;
        width: 25%;
    }
    
    .tagline {
        font-weight: 600;
        font-size: 13;
        margin-top: 6px;
        letter-spacing: 1;
    }
    
    .body_content {
        width: 100%;
        position: absolute;
        margin-top: 80px;
        height: auto;
    }
    
    .content1 {
        height: auto;
    }
    
    .shoes {
        float: left;
        width: 50%;
        height: 280px;
        background-size: cover;
        background-position: bottom;
        background-position-x: right;
        background-image: url('../img/shoes.png');
    }
    
    .bags {
        float: left;
        width: 50%;
        height: 280px;
        background-size: cover;
        background-position: center;
        background-position-y: 73%;
        background-image: url('../img/bags.png');
    }
    
    .shoes_text {
        margin: 110px 0;
        text-align: center;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
    }
    
    .shoes_text a {
        color: #fff;
    }
    
    .bags_txt {
        text-align: center;
        margin: 110px 0;
    }
    
    .bags_text {
        font-size: 24;
        color: #fff;
        font-weight: 600;
    }
    
    .bag_text2 {
        font-size: 15px;
        margin-top: -27px;
        color: #fff;
    }
    
    .bags_txt a {
        color: #fff;
    }
    
    .content2 {
        height: auto;
    }
    
    .women {
        float: left;
        width: 50%;
        height: 677px;
        background-position-x: 75%;
        background-size: cover;
        background-image: url('../img/women-back.png');
    }
    
    .femmes {
        width: 50%;
        float: left;
        height: 677px;
    }
    
    .content3 {
        margin-right: 1px;
        height: auto;
    }
    
    .men {
        float: right;
        width: 50%;
        height: 677px;
        background-position: center;
        background-size: cover;
        background-image: url('../img/menblack.png');
    }
    
    .femmes {
        width: 50%;
        float: left;
    }
    
    .fem_text {
        padding-left: 80px;
        padding-top: 30px;
    }
    
    .femm {
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: 600;
    }
    
    .femm1 {
        letter-spacing: 1px;
        margin-top: -30px;
        font-size: 18px;
    }
    
    .femm2 {
        letter-spacing: 1;
        font-size: 15px;
        margin-top: -13px;
    }
    
    .fem_img {
        padding-left: 80px;
        padding-top: 10px;
    }
    
    .img1 {
        width: 40%;
        height: 340px;
        background-position-x: 50%;
        background-position-y: 40%;
        background-image: url('../img/women1.png');
        margin-right: 20px;
        float: left;
    }
    
    .img2 {
        height: 340px;
        background-position-x: 71%;
        background-position-y: 30%;
        background-image: url('../img/women2.png');
        width: 40%;
        margin-left: 20px;
        float: left
    }
    
    .img11 {
        width: 40%;
        height: 340px;
        background-position-x: 50%;
        background-position-y: 40%;
        background-image: url('../img/men1.png');
        margin-right: 20px;
        float: left;
    }
    
    .img22 {
        height: 340px;
        background-position-x: 50%;
        background-position-y: 23%;
        background-image: url('../img/men2.png');
        width: 40%;
        margin-left: 20px;
        float: left
    }
    
    .wo_img {
        width: 100%;
        height: auto;
    }
    
    .wo_pp {
        text-align: center;
        letter-spacing: 1px;
        font-size: 14;
        margin-top: -15px;
        font-weight: 600;
    }
    
    .wo_text {
        text-align: center;
        letter-spacing: 1px;
        font-size: 14;
        /* margin-top: 350px; */
        font-weight: 600;
    }
    
    .coursel {
        margin-top: 1740px;
    }
    
    .heading {
        margin-left: 35px;
        margin-right: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .les_head {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 2px;
    }
    
    .images {
        width: 100%;
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .image1 {
        width: 18%;
        float: left;
        margin-right: 15px;
        height: 340px;
        background-position-x: 50%;
        background-position-y: 40%;
        background-image: url('../img/men1.png');
    }
    
    .image2 {
        width: 18%;
        float: left;
        height: 340px;
        margin-right: 15px;
        background-position-x: 50%;
        background-position-y: 23%;
        background-image: url('../img/men2.png');
    }
    
    .image3 {
        width: 18%;
        float: left;
        height: 340px;
        margin-right: 15px;
        background-position-x: 50%;
        background-position-y: 40%;
        background-image: url('../img/men1.png');
    }
    
    .image4 {
        width: 18%;
        float: left;
        height: 340px;
        margin-right: 15px;
        background-position-x: 50%;
        background-position-y: 23%;
        background-image: url('../img/men2.png');
    }
    
    .image5 {
        width: 18%;
        float: left;
        margin-right: 15px;
        height: 340px;
        background-position-x: 50%;
        background-position-y: 40%;
        background-image: url('../img/men1.png');
    }
    
    .men_img {
        width: 100%;
    }
    
    .toshow {
        margin-top: 348px;
        text-align: center;
        font-weight: 600;
        letter-spacing: 1px;
    }
    
    .toshow1 {
        margin-top: -15px;
        font-size: 14;
        text-align: center;
        font-weight: 600;
    }
    
    .footer {
        margin-top: 20px;
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .footer1 {
        background-color: #000;
        padding-top: 20px;
        color: #fff;
        text-align: center;
        padding-bottom: 20px;
    }
    
    .foot_btn {
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        font-family: oswald;
        margin: 0px 10px;
        letter-spacing: 1;
        font-weight: 600;
        cursor: pointer;
    }
    
    .foot_btn1 {
        background-color: white;
        color: black;
    }
    
    .stay {
        font-size: 20px;
        padding-right: 10px;
        font-weight: 600;
        letter-spacing: 1;
    }
    
    .form__field {
        font-family: oswald;
        width: 20%;
        border: 0;
        margin-right: 10px;
        margin-left: 10px;
        border-bottom: 2px solid #fff;
        outline: 0;
        font-size: 14px;
        color: white;
        padding: 2px 0;
        background: transparent;
        transition: border-color 0.2s;
    }
    
     :placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
    
    .footer2 {
        width: 100%;
        background-color: #eaeaea;
        height: 250px;
    }
    
    .foot1 {
        float: left;
        width: 20%;
        height: 250px;
        text-align: center;
    }
    
    .foot_text {
        letter-spacing: 1;
        font-weight: 600;
        font-size: 15;
        padding-top: 10px;
    }
    
    .text a {
        color: #000;
        display: block;
        font-size: 14;
        letter-spacing: 1;
        text-decoration: none;
    }
    
    .social_icon {
        padding-left: 7px;
        padding-right: 7px;
    }
    
    .footer3 {
        background-color: #fff;
        text-align: center;
        height: 50px;
        padding-top: 10px;
    }
    
    .copyright {
        float: left;
        width: 33%;
        font-size: 12;
        font-weight: 600;
        letter-spacing: 1;
    }
    
    .copy a {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .show_curren {
        border: solid 1px #f0f0f0;
        box-shadow: 0 5px 8px -2px rgba(0, 0, 0, .25);
        left: 145px;
        width: 12%;
        top: 2965px;
        height: auto;
        background: #fff;
        position: absolute;
    }
    
    .show_curren p {
        letter-spacing: 1;
        color: #000;
        font-size: 14;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .curren_arrow {
        margin-top: -35px;
        transform: scale(1.5, 2);
        margin-left: 100px;
        color: #fff;
        padding-top: 24px;
    }
    
    .mobtag {
        margin-top: 0px;
        font-size: 13;
        letter-spacing: 1;
        font-weight: 600;
    }
    
    #owl-demo .item {
        margin: 3px 25px;
    }
    
    #owl-demo .item img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    #men-owl {
        width: 60%;
        margin-left: 75px;
        margin-right: 75px;
    }
    
    #men-owl .item {
        margin: 10px 6px;
    }
    
    #men-owl .item img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    #women-owl {
        width: 60%;
        margin-left: 75px;
        margin-right: 75px;
    }
    
    #women-owl .item {
        margin: 10px 6px;
    }
    
    #women-owl .item img {
        display: block;
        width: 100%;
        height: 300px;
    }
    
    @media only screen and (max-device-width: 426px) {
        body {
            margin: 0px;
            padding: 0px;
            font-family: 'Oswald';
        }
        .container {
            margin: 0px;
            padding: 0px;
        }
        .top_icon {
            margin: 22px 5px;
            height: 24px;
        }
        .top_right_icon {
            margin: -62px 118px;
            height: 25px;
        }
        h5 {
            letter-spacing: 2px;
            font-size: 22px;
            margin-top: 16px;
        }
        .accunt {
            float: left;
            height: 25px;
            margin: 20px -29px;
        }
        .ac_bag {
            margin: 20px 5px;
            float: left;
            height: 25px;
        }
        .header_top {
            height: 160px;
        }
        .logo {
            float: left;
            text-align: center;
            margin: 0px;
            width: 100%;
        }
        .icon {
            padding-top: 3px;
            padding-bottom: 9px;
        }
        .topnav {
            text-align: center;
            padding-left: 272px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-right: 272px;
        }
        .topnav a {
            color: black;
            padding: 8px 18px;
            text-decoration: none;
            font-size: 24px;
            letter-spacing: 2px;
            font-weight: 600;
        }
        .tag1 {
            margin-left: 125px;
            float: left;
            text-align: center;
            width: 25%;
        }
        .tags {
            margin-top: 0px;
            margin-bottom: 10px;
        }
        .tagline {
            font-size: 18px;
            letter-spacing: 2;
        }
        .mobtag {
            font-size: 17px;
            letter-spacing: 2px;
        }
        .shoes_text {
            font-size: 32px;
        }
        .bags_text {
            font-size: 32px;
        }
        .bag_text2 {
            font-size: 23px;
        }
        .shoes {
            width: 50%;
            background-position-x: center;
        }
        .bags {
            float: left;
            width: 50%;
            height: 280px;
            background-position-x: 75%;
            background-position-y: 73%;
        }
        .femm {
            font-size: 32px;
            letter-spacing: 2px;
            font-weight: 600;
        }
        .femm1 {
            letter-spacing: 2px;
            margin-top: -35px;
            font-size: 25px;
        }
        .femm2 {
            letter-spacing: 2px;
            font-size: 22px;
            margin-top: -25px;
        }
        .img1 {
            width: 35%;
            height: 350px;
            margin-right: 40px;
        }
        .img2 {
            width: 35%;
            height: 350px;
            background-position-x: 100%;
            background-position-y: 30%;
            margin-left: 40px;
        }
        .img11 {
            width: 35%;
            height: 350px;
            margin-right: 40px;
        }
        .img22 {
            width: 35%;
            height: 350px;
            margin-left: 40px;
        }
        .wo_text {
            /* margin-top: 354px; */
            font-size: 26px;
            letter-spacing: 2;
        }
        .fem_text {
            padding-left: 150px;
        }
        .fem_img {
            padding-left: 150px;
        }
        .wo_pp {
            text-align: center;
            letter-spacing: 2px;
            font-size: 22px;
            margin-top: -24px;
            font-weight: 600;
        }
        .women {
            width: 100%;
            background-position-x: center;
        }
        .femmes {
            width: 100%;
            height: auto;
        }
        .men {
            width: 100%;
            background-position-x: center;
        }
        .coursel {
            width: 100%;
            margin-top: 3220px;
            position: absolute;
        }
        .les_head {
            font-weight: 600;
            font-size: 27px;
            letter-spacing: 2px;
        }
        .toshow {
            margin-top: 348px;
            text-align: center;
            font-weight: 600;
            font-size: 26;
            letter-spacing: 2px;
        }
        .toshow1 {
            margin-top: -27px;
            font-size: 22px;
            letter-spacing: 2;
            text-align: center;
            font-weight: 600;
        }
        .image1,
        .image2,
        .image3,
        .image4 {
            margin-right: 6px;
        }
        .footer {
            margin-top: 3730px;
        }
        .footer1 {
            background-color: #000;
            padding-top: 15px;
            color: #fff;
            text-align: center;
            padding-bottom: 15px;
        }
        .stay {
            font-size: 35px;
            padding-right: 10px;
            font-weight: 600;
            letter-spacing: 2px;
        }
        .form__field {
            font-family: oswald;
            width: 23%;
            border: 0;
            margin-right: 10px;
            margin-left: 10px;
            border-bottom: 2px solid #fff;
            outline: 0;
            font-size: 22px;
            color: white;
            padding: 2px 0;
            background: transparent;
            transition: border-color 0.2s;
        }
        .foot_btn1 {
            background-color: white;
            color: black;
        }
        .foot_btn {
            border: none;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            font-family: oswald;
            margin: 0px 12px;
            letter-spacing: 2px;
            font-weight: 600;
            cursor: pointer;
        }
        .footer2 {
            width: 100%;
            background-color: #eaeaea;
            height: 360px;
        }
        .foot_text {
            letter-spacing: 2px;
            font-weight: 600;
            font-size: 25px;
            padding-top: 0px;
        }
        .text a {
            color: #000;
            display: block;
            font-size: 25px;
            letter-spacing: 2px;
            text-decoration: none;
        }
        .foot1 {
            width: 33%;
            float: left;
            width: 33%;
        }
        .none {
            display: none;
        }
        .copyright {
            float: left;
            width: 100%;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 2px;
        }
        #men-owl {
            width: 60%;
            margin-left: 120px;
        }
        #women-owl .item {
            margin: 3px 30px;
        }
        #women-owl {
            width: 60%;
            margin-left: 120px;
        }
        #women-owl .item {
            margin: 3px 30px;
        }
    }
    
    @media only screen and (min-device-width: 427px) and (max-device-width: 768px) {
        .tag1 {
            margin-left: 118px;
            float: left;
            text-align: center;
            width: 25%;
        }
        .shoes {
            width: 50%;
            background-position-x: center;
        }
        .bags {
            float: left;
            width: 50%;
            height: 280px;
            background-position-x: 75%;
            background-position-y: 73%;
        }
        .fem_text {
            padding-left: 50px;
            padding-top: 30px;
        }
        .fem_img {
            padding-left: 50px;
        }
        .coursel {
            width: 100%;
            margin-top: 1720px;
            position: absolute;
        }
        .image1,
        .image2,
        .image3,
        .image4 {
            margin-right: 6px;
        }
        .footer {
            margin-top: 2150px;
        }
        .footer2 {
            width: 100%;
            background-color: #eaeaea;
            height: 230px;
        }
        .foot1 {
            width: 33%;
            float: left;
            width: 33%;
        }
        .none {
            display: none;
        }
        #men-owl {
            width: 60%;
            margin-left: 50px;
        }
        #women-owl .item {
            margin: 10px 5px;
        }
        #women-owl {
            width: 60%;
            margin-left: 50px;
        }
        #women-owl .item {
            margin: 10px 5px;
        }
    }